@media (width < 992px) {
  table {
    font-size: 15px;
  }
  .table > :not(caption) > * > * {
    /* padding: 60px; */
    /* font-size: 14px; */
    padding: 0.3rem 0.3rem;
  }
}
@media (width < 768px) {
  table {
    font-size: 11px;
  }
  .table > :not(caption) > * > * {
    padding: 0.2rem 0.2rem;
    /* padding: 60px; */
    /* font-size: 11px; */
  }
}
@media (width < 576px) {
  table {
    font-size: 9px;
  }
  .table > :not(caption) > * > * {
    padding: 0.1rem 0.1rem;
    /* padding: 60px; */
    /* font-size: 8px; */
  }
}
